body{
    background-color:beige ;
    margin:0 0 0;
}
header{
    background-color: red;
    margin:0 0 0 0;
}
#hero{
    display:flex ;
    justify-content: center;
    align-items: center;
    gap:3rem ;
    background-color: grey;
}
#hero img{
    height:400px;
    width:500px;
}