body{
    background-color:beige ;
    margin:0 0 0;
}
.heroarticle{
    display:grid ;
    grid-template-columns: 1fr 1fr;
    gap:0.5rem;
    background-color: grey;
    margin-top:1rem;
}
.heroarticle img{
    max-height:50rem ;
    max-width: 45rem ;
}
.heroarticle > div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
}
hr{
    width:95%;
    height:1px;
    background-color: black;
}
.articles{

}