body{
    margin:0 0 0;
}
.heroarticle{
    display:grid;
    grid-template-columns:auto auto ;
    gap:0.5rem;
    margin-top:1rem;
    justify-content: center;
    align-items: center;
}

.heroarticle img{
    height:30rem ;
    width:40rem ;   
}
.heroarticle a{
    text-decoration:none;
    color:black;
}
.heroarticle a:hover{
    text-decoration:underline;
}
hr{
    width:99%;
    height:1px;
    background-color: black;
}
.articles{
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin:0 2.5rem 0 1rem;
    gap:0.5rem;
}
.articles article{
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows:auto auto auto;
    justify-content: center;
    align-items: center;
    border:1px solid black;
    border-radius: 0.2rem;
    text-align: center;
}
article img{
    width:100%;
    height:100%;
    object-fit: contain;
}
.sectionheader{
    border-left:0.5rem solid red;
    margin-left:1rem;
    padding-left:0.3rem;
    margin:0.5rem 0 0 1rem;
}
article a{
    text-decoration:none;
    color:black;
}
article a:hover{
    text-decoration:underline;
}