header{
    display:grid;
    width:100%;
    border-bottom:1px solid black;
    display:grid;
    grid-template-columns:auto auto auto;
    align-items: center;
}
header > div:first-child p{
    margin-left:1rem;
}
header > div:last-child{
    display:flex;
    justify-self:flex-end;
    gap:0.5rem;

}
header > div:last-child > button{
    background-color:transparent;
    padding:0 1rem 0 1rem;
    border:none;
    font-size:20px;
    background-clip:border-box;

}
header > div:last-child > button:hover{
    background-color:#d5d5d5 ;
    border-radius:1rem;
    transition-duration: 0.5s ;
    pointer:;

}
nav{
    display: flex;
    justify-content: center;
    align-items:center;
}
ul{
    list-style-type: none;
    display:flex ;
    gap:2rem;
}
nav a{
    position: relative;
}
nav a:after{
  content: '';
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: 5px;
  background: #000000;
  transition: .2s ease;
}
 
nav a:hover:after{
  width: 100%;
  background:red;
}