/*--header-and-contents*/
header{
    display:grid;
    border-bottom:1px solid black;
    grid-template-columns:auto auto auto;
    align-items: center;
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
}
header img{
    height:75px;
    width:150px;
}
header > div:last-child{
    display:flex;
    justify-self:flex-end;
    gap:0.5rem;

}
.searchbar{
    display:flex;
    align-items: center;
    justify-content: center;
}
.searchbar > input{
    height: 26px;
    border:none;
}
.searchbar button:hover{
    cursor: pointer;
    background-color: #adadad;

}
.searchbar button{
    background-color: black;
    border:none;
}


.loginbutton button{
    background-color:transparent;
    padding:0 1rem 0 1rem;
    border:none;
    font-size:20px;
    background-clip:border-box;
    color:var(--header-text-color);

}
header > div:last-child > button:hover{
    background-color:var(--header-text-color) ;
    border-radius:1rem;
    transition-duration: 0.5s ;
    cursor: pointer;
    color:var(--default-text-color);

}
/*--nav-and-contents*/
.mainnav{
    display: flex;
    justify-content: center;
    position: sticky;
    top:0;
    background-color: white;
}
.mainnav ul{
    list-style-type: none;
    display:flex ;
    gap:2rem;    
    font-weight: bold;
    font-size:16px;
}
.mainnav a{
    position: relative;
    text-decoration:none;
    color:var(--default-text-color);
}
.mainnav a:after{
  content: '';
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: 5px;
  background: #000000;
  transition: .2s ease;
}
 
.mainnav a:hover:after{
  width: 100%;
  background:red;
}
/*--alit-nav*/
.altnav summary::marker{
    content:"";
}
.altnav{
    justify-content: center;
    justify-self: center;
    display:none;
}
.altnav > details:nth-child(2){
    margin-left:auto;
}
.altnav ul{
    list-style-type: none;
    display: grid;
    justify-content: center;
    gap:2rem;
}
details .open {
  display: none;
}

details[open] .open {
  display: inline;
}

details .closed {
  display: inline;
}

details[open] .closed {
  display: none;
}
.altnav a{
    text-decoration:none;
    color:var(--default-text-color);
}
.altnav hr{
    height: 1px;
    background-color: black;
    margin:0;

}
.altnav button{
    background-color: transparent;
    border:none;
    font-weight: bold;
    padding:0.3rem;
    border-radius: 1rem;
}
.altnav button:hover{
    background-color: black;
    color:white;
    cursor: pointer;
    transition-duration:0.5s;
}