/*--header-and-contents*/
header{
    display:grid;
    border-bottom:1px solid black;
    display:grid;
    grid-template-columns:auto auto auto;
    align-items: center;
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
}
header img{
    height:75px;
    width:150px;
}
header > div:last-child{
    display:flex;
    justify-self:flex-end;
    gap:0.5rem;

}
header button{
    color:var(--header-text-color);
}
header > div:last-child > button{
    background-color:transparent;
    padding:0 1rem 0 1rem;
    border:none;
    font-size:20px;
    background-clip:border-box;

}
header > div:last-child > button:hover{
    background-color:var(--header-text-color) ;
    border-radius:1rem;
    transition-duration: 0.5s ;
    cursor: pointer;
    color:var(--default-text-color);

}
/*--nav-and-contents*/
nav{
    display: flex;
    justify-content: center;
    align-items:center;
}
nav ul{
    list-style-type: none;
    display:flex ;
    gap:2rem;    
    font-weight: bold;
    font-size:16px;
}
nav a{
    position: relative;
    text-decoration:none;
    color:var(--default-text-color);
}
nav a:after{
  content: '';
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: 5px;
  background: #000000;
  transition: .2s ease;
}
 
nav a:hover:after{
  width: 100%;
  background:red;
}